#container-div {
  background-color: black;
  width: 100%;
  border: black;
  box-sizing: border-box;
  box-shadow: 2px 10px grey;
  padding: 10px;
  margin:0px;
  color:gray;
  overflow-x: hidden !important;
  height:800px;

  }
.bi-star-fill {
  color:orangered;
}

img {
  width:500px ;
  border-radius: 8px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  float: right;

}

.label {
  font-weight: bold;
  font-style: italic;
  font-style: "Roboto";
  padding: 10px;
  margin-top: 110px;
  letter-spacing: 1.5px;
}

div {
  margin: 16px;
}

#summary {
  margin-top: 260px;
  color:grey;
  text-align: left;
  float:left;
  max-width: 1000px;
  position: absolute;
  width: 50%;
  font-family:"Roboto";
  font-size: 15px;
  padding-top:25px;
}
.details-box2{
margin-top: 20px;

}
.heading{
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  color:white;

}

/*SEASONS*/
.card {
  border:none;
  padding:20px;
  background-color: black;
  margin-right: -20px;
  margin-bottom: 20px;
}

.card-title{
  color:gray
}

.season{
  color:gray;
  margin-bottom: -20px;
  font-family:"Roboto"
}

.card-img {
  width: auto;
  height:auto
}

.card-img:hover {
  overflow: hidden;
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  transition: .5s;

}




/* MEDIA QUERIES */
@media(min-width: 1290px) {

}

@media (min-width: 1063px) and (max-width: 1289px) {
  #summary {
  font-size: 13px;
  width: 45%;
}
  img {
    width:450px;
    height:550px;
  }
  #container-div {
    height: 600px;
}

}

@media (min-width: 882px) and (max-width: 1062px) {

  #summary {
    font-size: 12px;
    width: 42%;
  }
  img {
    width:370px;
    height:580px;
  }
  #container-div {
    height: 640px;
}

}

@media (min-width: 685px) and (max-width: 881px) {
  #summary {
    font-size: 13px;
    width: auto;
  }
  img {
    width:300px;
    height:250px;
  }
  #container-div {
    height: 600px;
}

}

@media(min-width: 430px)  and (max-width: 684px) {
  #summary {
    font-size: 12px;
    width: auto;
    padding-top:35px;
  }
  img {
    width:100px;
    height:250px;
    float:center;
  }
  #container-div {
    height: 675px;
 }
}
