.rowcontent{
  min-height: 50px;
  padding:20px;
  border-bottom: 1px ridge rgb(248, 232, 232);

}

.img {
  height:200px;
  border:1px ridge gray
}

a {
  color:#FFFAFA;
  cursor: pointer;
}

.row{
  padding:10px;
}
