
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" style="color:#e53e00" [routerLink] = "['show']">RAPFLIX</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" [routerLink] = "['show']">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['tvshows']">Tv Shows</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['show']">Movies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['show']">New & Popular</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink] = "['show']">My List</a>
            </li>
          </ul>
        </div>
      <!--<form class="form-inline my-2 my-lg-0">
        <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input class="form-control mr-sm-2" type="search" placeholder="Search">
        </div>
      </form>-->

     <form>
        <mat-form-field>
          <mat-icon matPrefix>search</mat-icon>
          <mat-label></mat-label>


          <input matInput placeholder="search show" aria-label="search" [formControl] = "searchshow"/>
          <mat-hint align="start">Search for a show</mat-hint>
        </mat-form-field>
        <mat-error *ngIf="searchshow.invalid">Type 3 or more characters</mat-error>
      </form>





      </nav>
    </div>
  </div>

</div>


