<div>

  <div p-3>
    <p >Action</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let cur of current" >
      <div ngxSlickItem  class="card" *ngIf='cur.genre === "Action" || cur.genre1 === "Action" || cur.genre2 === "Action"'>
        <a [routerLink]="['/singleSearch',cur.id] ">
      <img   [src] = 'cur.img' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Adventure</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let cur of current" >
      <div ngxSlickItem  class="card" *ngIf='cur.genre === "Adventure" || cur.genre1 === "Adventure" || cur.genre2 === "Adventure"'>
        <a [routerLink]="['/singleSearch',cur.id] ">
      <img   [src] = 'cur.img' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Thriller</p>
    <p></p>
  </div>
<ngx-slick-carousel class="carousel"
#slickModal="slick-carousel" [config]="slideConfig"  arrows = true>
    <ng-container   *ngFor="let cur of current" >
      <div ngxSlickItem  class="card" *ngIf='cur.genre === "Thriller" || cur.genre1 === "Thriller" || cur.genre2 === "Thriller"'>
        <a [routerLink]="['/singleSearch',cur.id] ">
      <img   [src] = 'cur.img' class= "card-img img-fluid"></a>

      </div>
    </ng-container>
  </ngx-slick-carousel>

    <div p-3>
      <p>Comedy</p>
    </div>

 <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel" [config]="slideConfig">

    <ng-container   *ngFor="let cur of current" >
        <div ngxSlickItem class="card" *ngIf='cur.genre === "Comedy "|| cur.genre1 === "Comedy" || cur.genre2 === "Comedy"'>
      <a [routerLink]="['/singleSearch',cur.id] ">
      <img class= "card-img img-fluid" [src] = 'cur.img'></a>
      </div>
    </ng-container>
  </ngx-slick-carousel>

      <div p-3>
        <p>Science-Fiction</p>
      </div>

      <ngx-slick-carousel class="carousel"
      #slickModal="slick-carousel" [config]="slideConfig">
      <ng-container   *ngFor="let cur of current" >

        <div ngxSlickItem class="card" *ngIf='cur.genre === "Science-Fiction"|| cur.genre1=== "Science-Fiction" || cur.genre2 === "Science-Fiction"'>
        <a [routerLink]="['/singleSearch',cur.id] ">
        <img class= "card-img img-fluid" [src] ='cur.img'></a>
        </div>
      </ng-container>
    </ngx-slick-carousel>

    <div p-3>
      <p>Romance</p>
    </div>

   <ngx-slick-carousel class="carousel"
    #slickModal="slick-carousel" [config]="slideConfig">
    <ng-container   *ngFor="let cur of current" >
      <div ngxSlickItem class="card" *ngIf='cur.genre === "Romance" || cur.genre1 === "Romance" || cur.genre2 === "Romance"'>
      <a [routerLink]="['/singleSearch',cur.id] ">
      <img class= "card-img img-fluid" [src] = 'cur.img'></a>
      </div>
    </ng-container>
  </ngx-slick-carousel>

  <div p-3>
    <p>Drama</p>
  </div>

 <ngx-slick-carousel class="carousel"
  #slickModal="slick-carousel" [config]="slideConfig">
  <ng-container   *ngFor="let cur of current" >
    <div ngxSlickItem class="card" *ngIf='cur.genre === "Drama" || cur.genre1 === "Drama" || cur.genre2 === "Drama"'>
    <a [routerLink]="['/singleSearch',cur.id] ">
    <img class= "card-img img-fluid" [src] = 'cur.img'></a>
    </div>
  </ng-container>
</ngx-slick-carousel>

</div>

