p {
  font-size: 16px;
  margin-bottom:10px;
  margin-top:10px;
  margin-left: 20px;
}


body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
}
.slick-slider {
 
  margin: auto;
  padding: 2px;
  width: 95%;
  
}